{%extends 'social/base.html'%}
{% load static %}

{%block home%}
    <style>
        .user {
        height: 850px;
    }

    .user .user_input {
        background: #01d262 none repeat scroll 0 0;
        float: left;
        height: 850px;
        text-align: center;
        width: 100%;
    }

    .user .user_input h2,
    .user .user_input h2 {
        color: #fff;
        font-family: "Roboto", sans-serif;
        font-size: 22px;
        font-weight: 500;
        margin: 75px 0 50px;
        text-align: center;
    }
    .user .user_input h5 {
    margin: 65px auto 0;
    max-width: 500px;
}

    .user .user_input h5 input {
        background: #01d262 none repeat scroll 0 0;
        border: 1px solid #fff;
        border-radius: 10px;
        color: #fff;
        padding: 17px 20px;
        width: 80%;
    }
    .user .user_input h5 textarea {
        background: #01d262 none repeat scroll 0 0;
        border: 1px solid #fff;
        border-radius: 10px;
        color: #fff;
        padding: 17px 20px;
        width: 80%;
        height: 120px;
    }

    .user .user_input h5 input[type="text"] {
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: 400;
        color: #fff;
        margin-right: 2%;
    }
    .user .user_input h5 input[type="file"] {
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: 400;
        color: #fff;
        margin-right: 2%;
        margin-left: 10%;
        padding-left:20%;
    }
    

    .user .user_input h5 input[type="email"] {
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: 400;
        color: #fff;
        margin-left: 2%;
    }

    .user .user_input input[type="submit"] {
        background: #fff none repeat scroll 0 0;
        border: 2px solid #01d262;
        border-radius: 10px;
        color: #01d262;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: 500;
        margin-top: 45px;
        padding: 15px 40px;
    }
    .user .user_input input[type="submit"]:hover{
        background-color: green;
    }

    </style>

	<section class="user">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="user_input">
                            <h2>Get In Touch <br> Contact for any query</h2>
                            {% for message in messages%}
                                <p style="color:green;">{{message}}</p>
                            {%endfor%}
                            <form action="" method="POST">
                            {%csrf_token%}
                                <h5>
                                    <input type="text" name="name" placeholder="Enter your name">
                                </h5>
                                <h5>
                                    <input type="text" name="email" placeholder="Enter your email">
                                </h5>
                                <h5>
                                    <input type="text" name="subject" placeholder="Subject of your Message">
                                </h5>
                                <h5>
                                    <textarea name="message" placeholder="Write your Messege"></textarea>
                                </h5>
                               
                                <input type="submit" value="Send messege">
                            </form>
                        </div>
                        

                    </div>
                </div>
            </div>
        </section>
{%endblock%}

