{%extends 'social/base.html'%}
{% load static %}

{%block home%}
<style>
    <style>
    .donors {
        height: 100%;
    }

    .donors .donors_input {
        background: #01d262 none repeat scroll 0 0;
        float: left;
        min-height:600px;
        height: 100%;
        text-align: center;
        width: 100%;
    }

    .donors .donors_input h2,
    .donors .donors_image h2 {
        color: black;
        font-family: "Roboto", sans-serif;
        font-size: 22px;
        font-weight: 500;
        margin: 75px 0 50px;
        text-align: center;
    }

    .donors .donors_image h2 {
        color: #000;
    }

    .donors .donors_input h4 {
        margin-top: 20px;
        text-align: left;
        color: white;
        padding-left: 50px;
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        font-weight: bold;
    }
    .donors .donors_input table{
        width:100%;
    }
    .donors .donors_input table, th{
        text-align:center;
        font-size:20px;
    }
    .donors .donors_input table, th, td {
      border: 2px solid black;
      border-collapse: collapse;
      border-radius: 10px;
      font-family: "Roboto", sans-serif;
      
      
    }
    

    
</style>
</style>

	<section class="donors">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="donors_input">
                            <h2>Donation History</h2>
                            <hr>
                            <table>
                                <tr>
                                    <th>Event</th>
                                    <th>PaymentWay</th>
                                    <th>TrxID</th>
                                    <th>ammount</th>
                                    <th>Date</th>
                                    <th>Varification</th>
                                  </tr>
                            {% for p in payment%}
                                  
                                  <tr>
                                    <td>{{p.event}}</td>
                                    <td>{{p.payment_way}}</td>
                                    <td>{{p.trxid}}</td>
                                    <td>{{p.ammount}}</td>
                                    <td>{{p.date}}</td>
                                    {%if p.varified%}
                                        <td>Confirmed</td>
                                    {%else%}
                                        <td>Panding</td>
                                    {%endif%}
                                  </tr>
                            {%endfor%}
                            </table>
                            
                                <h4>{{p.ammount}}</h4>
                            
                            
                        </div>
                
                    </div>
                </div>
            </div>
        </section>
        <br>
       
{%endblock%}