{%extends 'social/base.html'%}
{% load static %}

{%block home%}
<style>
        .user {
        height: 100%;
    }

    .user .user_input {
        background: #01d262 none repeat scroll 0 0;
        float: left;
        height: 100%;
        text-align: center;
        width: 100%;
        
    }

    .user .user_input h2 {
        color: #fff;
        font-family: "Roboto", sans-serif;
        font-size: 22px;
        font-weight: 500;
        margin: 40px 0 50px;
        text-align: center;
    }
    h5 {
        text-align:left;
        padding: 4px;
        margin:4px;
        color: white;
        font-size: 16px;
        font-weight: 500;
        font-style: italic;
        font-family: "Roboto", sans-serif;

}

    </style>

	<section class="user">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="user_input">
                            <h2>MEMBER LIST</h2>
                            <form class="form-inline">
                                <div class="form-group mr-sm-2 mb-2">
                                    <input type="search" class="form-control" name="search" placeholder="Search" value={{ search_term }}>
                                </div>
                                <button type="submit" class="btn btn-primary mb-2">Search</button>
                            </form>
                                <hr>
                                <ol>
                                {%for user in userprof%}
                                <li>
                                    <a href="{%url "profile" user.id%}"><h5>{{user.name}} </h5><a>
                                </li>
                                    {%endfor%}
                                </ol>
                        </div>
                        

                    </div>
                </div>
            </div>
        </section>
        <br>
    
{%endblock%}

