{%extends 'social/base.html'%}
{% load static %}

{%block home%}
    <style>
        .user {
        height: 100%;
    }

    .user .user_input {
        background: #01d262 none repeat scroll 0 0;
        float: left;
        height: 100%;
        text-align: center;
        width: 100%;
    }

    .user .user_input h2,
    .user .user_input h2 {
        color: #fff;
        font-family: "Roboto", sans-serif;
        font-size: 22px;
        font-weight: 500;
        margin: 75px 0 50px;
        text-align: center;
    }
    .user .user_input h5 {
    margin: 10px auto 0;
    max-width: 500px;
}

    .user .user_input h5 input {
        background: #01d262 none repeat scroll 0 0;
        border: 1px solid #fff;
        border-radius: 10px;
        color: #fff;
        padding: 17px 20px;
        width: 80%;
    }
    .user .user_input h5 input[type="text"] {
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: 400;
        color: #fff;
        margin-right: 2%;
        margin-left: 4%;
    }

    .user .user_input h5 input[type="password"] {
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: 400;
        color: #fff;
        margin-right: 2%;
        margin-left: 4%;
    }

    .user .user_input h5 input[type="email"] {
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: 400;
        color: #fff;
        margin-left: 2%;
    }

    .user .user_input input[type="submit"] {
        background: #fff none repeat scroll 0 0;
        border: 2px solid #01d262;
        border-radius: 10px;
        color: #01d262;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: 500;
        margin-top: 45px;
        padding: 15px 40px;
    }
    .user .user_input input[type="submit"]:hover{
        background-color: green;
    }

    </style>

	<section class="user">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="user_input">
                            <h2>REGISTER NOW</h2>
                            {% for message in messages%}
                                <h2 style:"color:red;">{{message}}</h5>
                            {%endfor%}
                            
                            <form action="" method="POST">
                            {%csrf_token%}
                                <h5>
                                    <input type="text" name="username" placeholder="Enter username">
                                </h5>
                                <h5>
                                    <input type="text" name="fname" placeholder="Enter your first name">
                                </h5>
                                <h5>
                                    <input type="text" name="lname" placeholder="Enter your last name">
                                </h5>
                                <h5>
                                    <input type="email" name="email" placeholder="Email">
                                </h5>
                                <h5>
                                    <input type="password" name="password" placeholder="password">
                                </h5>
                                <h5>
                                    <input type="password" name="password1" placeholder="confirm password">
                                </h5>
                             
                                <input type="submit" value="Register NOW">
                            </form>
                            
                            <h2>Already Registered? <a href="{%url "login"%}">Login<a></h2>
                        </div>
                        

                    </div>
                </div>
            </div>
        </section>
{%endblock%}