{%extends 'social/base.html'%}
{% load static %}

{%block home%}
    <style>
        
        .volunteer {
            position: relative;
            width: 100%;
            margin: 45px 0;
            background: rgba(0, 0, 0, .5);
        }

        .volunteer .volunteer-content {
            padding: 30px 0 45px 0;
        }

        .container .volunteer {
            margin: 90px 0;
        }

        .container .volunteer .volunteer-content {
            padding: 45px 30px 15px 30px;
        }

        .volunteer .volunteer-content .section-header {
            margin-bottom: 30px;
        }

        .volunteer .volunteer-content .section-header h2 {
            color: #ffffff;
        }

        .volunteer .volunteer-text p {
            color: #ffffff;
            font-size: 18px;
        }

        .volunteer .volunteer-form {
            padding: 90px 30px;
            background: #FDBE33;
        }

        .volunteer .volunteer-form .control-group {
            margin-bottom: 15px;
        }

        .volunteer .volunteer-form .form-control {
            height: 60px;
            color: #ffffff;
            padding: 0 15px;
            border-radius: 0;
            border: 1px solid #ffffff;
            background: transparent;
        }

        .volunteer .volunteer-form textarea.form-control {
            height: 120px;
            padding: 15px;
        }

        .volunteer .volunteer-form .form-control::placeholder {
            color: #ffffff;
            opacity: 1;
        }

        .volunteer .volunteer-form .form-control:-ms-input-placeholder,
        .volunteer .volunteer-form .form-control::-ms-input-placeholder {
            color: #ffffff;
        }

        .volunteer .volunteer-form .btn.btn-custom {
            padding: 15px 0;
            width: 100%;
            height: 60px;
            color: #ffffff;
            border: 1px solid #ffffff;
            box-shadow: inset 0 0 0 0 #ffffff;
        }

        .volunteer .volunteer-form .btn.btn-custom:hover {
            color: #FDBE33;
            border: 1px solid #ffffff;
            box-shadow: inset 0 0 0 30px #ffffff;
        }
    </style>
	<!-- Volunteer Start -->
        <div class="container">
            <div class="volunteer" data-parallax="scroll" data-image-src="img/volunteer.jpg">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="volunteer-form">
                            <form>
                                <div class="control-group">
                                    <input type="text" class="form-control" placeholder="Name" required="required" />
                                </div>
                                <div class="control-group">
                                    <input type="email" class="form-control" placeholder="Email" required="required" />
                                </div>
                                <div class="control-group">
                                    <textarea class="form-control" placeholder="Why you want to become a volunteer?" required="required"></textarea>
                                </div>
                                <div>
                                    <button class="btn btn-custom" type="submit">Become a volunteer</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="volunteer-content">
                            <div class="section-header">
                                <p>Become A Volunteer</p>
                                <h2>Lets make a difference in the lives of others</h2>
                            </div>
                            <div class="volunteer-text">
                                <p>
                                    save life by becomeing a Volunteer
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{%endblock%}

